<p style="font-size:2.5em; font-weight:bold;">Pandas</p>

<img src="http://pandas.pydata.org/static/img/pandas_white.svg" style="width: 500px;" />

----
*pandas* to biblioteka z licencją BSD o otwartym kodzie źródłowym, zapewniająca wydajne, łatwe w użyciu struktury danych i analizę danych dla języka Python.

*pandas* to sponsorowany przez [NUMFocus](http://www.numfocus.org/open-source-projects.html) projekt. Pomoże to zapewnić pomyślny rozwój pand jako światowej klasy projektu o otwartym kodzie źródłowym.

---
Strony:  
http://pandas.pydata.org/  
  
https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python

**Kaggle Titanic**  
https://www.kaggle.com/c/titanic  
https://www.dataquest.io/course/kaggle-competitions

In [1]:
import pandas as pd  # konwencja
import numpy as np   
import os

In [2]:
!ls

Podstawy Jupyter Notebook.ipynb
Prognozowanie_sprzedazy.ipynb
Untitled.ipynb
dane
files
images
numpy podstawy.ipynb
numpy.ipynb
numpy_intro.ipynb
pandas.ipynb
pandas_wprowadzenie.ipynb
sprzedaz_produktow_2023.csv
sprzedaz_produktow_2023.pptx
sprzedaz_produktow_2023.xlsx
sprzedaz_produktow_2023_z_wykresami.xlsx
sprzedaz_produktow_tabela_przestawna.xlsx
sprzedaz_produktow_tabela_przestawna_openpyxl.xlsx
sprzedaz_produktow_trendy.csv
tytanic.ipynb

In [4]:
folder_path = './files/'

# Basics

## Loading data

 

Interfejs I/O (we/wy) API pandas to zestaw wysoko poziomowanych funkcji czytających, takich jak pd.read_csv (), które zwykle zwracają obiekt pandas.

    * read_csv
    * read_excel
    * read_hdf
    * read_sql
    * read_json
    * read_msgpack (experimental)
    * read_html
    * read_gbq (experimental)
    * read_stata
    * read_sas
    * read_clipboard
    * read_pickle

Analogicznie Pandas oferuje zestaw funkcji zapisujących do różnych formatów

    * to_csv
    * to_excel
    * to_hdf
    * to_sql
    * to_json
    * to_msgpack (experimental)
    * to_html
    * to_gbq (experimental)
    * to_stata
    * to_clipboard
    * to_pickle

### CSV 

(Comma separater values) - popularny format danych tabelarycznych
https://pl.wikipedia.org/wiki/CSV_(format_pliku)

In [5]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))

In [6]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### Zipped CSV

In [9]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv.zip'))
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### XLSX (Excel format)

In [10]:
!pip install xlrd

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.
Requirement already satisfied: xlrd in /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages (2.0.1)

In [11]:
data2 = pd.read_excel(os.path.join(folder_path, 'titanic_train.xlsx'))
data2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
data2.to_pickle(os.path.join(folder_path, 'titanic_train.pickle'))

### Pickle

https://docs.python.org/3/library/pickle.html

In [13]:
data3 = pd.read_pickle(os.path.join(folder_path, 'titanic_train.pickle'))
data3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Writing to file

### CSV
---
    data.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, 
                header=True, index=True, index_label=None, mode='w', encoding=None, 
                compression=None, quoting=None, quotechar='"', line_terminator='\n', 
                chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, 
                escapechar=None, decimal='.', **kwds)

In [14]:
data.to_csv(os.path.join(folder_path, 'titanic_train_test_save.csv'))

In [15]:
data.to_csv(os.path.join(folder_path, 'titanic_train_test_save.csv'), index=False)

### XLSX
---
    data.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, 
                  header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, 
                  merge_cells=True, encoding=None, inf_rep='inf', verbose=True)

In [16]:
# !pip install openpyxl

In [17]:
data.to_excel(os.path.join(folder_path, 'titanic_train_test_save.xlsx'))

### Pickle
---
    data.to_pickle(path)

In [18]:
data.to_pickle(os.path.join(folder_path, 'titanic_train_test_save.pickle'))

## Basic informations

### shape

In [19]:
data.shape

(891, 12)

### info()

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [21]:
data.info?

In [22]:
data.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### describe()

In [23]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### columns

In [24]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### dtypes

In [25]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### Value Counts

In [26]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [27]:
data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

## Podstawowe operacja

### wybieranie kolumn

In [28]:
data['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [ ]:
data['Name', 'Survived']

jeśli chcemy wybrać większą ilość kolumn, to podajemy ją jako listę - index staje się tu listą

In [ ]:
data[['Name', 'Survived']]

In [ ]:
data.Survived

In [ ]:
data[['Survived']]

### Wybieranie wierszy

In [ ]:
data[5:10]

### Wybieranie przez labele- loc[]
---
Ta funkcja wybiera bazując na labelkach **Index** i **Column**
**.loc[row, column]**

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label

In [ ]:
data.loc[5]

In [ ]:
data.loc[5:10]  # wybieramy wiersze

In [ ]:
data.loc[5, 'Name']   # z wiersza wybieram wartość dla kolumny|

In [ ]:
data.loc[5:10, 'Name']  # z zakresu wierszy - wartość

In [ ]:
data.columns     # sprawdzamy Index kolumn

In [ ]:
data.loc[5:10, :'Pclass']

In [ ]:
data.loc[5:10, 'Pclass':'Age']

In [ ]:
data.loc[5:10, ['Name', 'Pclass', 'Survived']]

### Wybieranie przez pozycje - iloc[]
---
 
**.iloc[row, column]**

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer

In [ ]:
data.iloc[5]

In [ ]:
data.iloc[5:10]

In [ ]:
# data.iloc[5, 'Name']  # Won't work as it selects only based on location

In [ ]:
data.iloc[5, 3]

In [ ]:
data.iloc[5:10, 3]

In [ ]:
data.iloc[5:10, :3]

Możemy też użyć np jakiegoś generatora - jak range - poniżej  wybór co piątego wiersza z zakresu 0-50

In [ ]:
data.iloc[range(0, 50, 5), [1, 3]]

równoważny zapis to np:

In [ ]:
data.iloc[:50:5, [1, 3]]

można odliczać od końca:

In [ ]:
data.iloc[-10:]

Jeśli nie znamy pozycji a znamy labelkę, to możemy użyć funkcji `get_slice_bound`

In [ ]:
data.columns.get_slice_bound?

In [ ]:
data.columns.get_slice_bound('Name', 'right', 'ix')

In [ ]:
data.iloc[:5, :data.columns.get_slice_bound('Name', 'right', 'ix')]

## Exercises

### Load `'titanic_train.csv'` CSV file and save last 5 rows in Excel format

In [ ]:
df = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))

In [ ]:
df[-5:].to_excel(os.path.join(folder_path, 'titanic_last_5.xlsx'))

### Load Excel file from previous exercise and save it again with only first four columns

In [ ]:
df = pd.read_excel(os.path.join(folder_path, 'titanic_last_5.xlsx'))

In [ ]:
df.iloc[:,:4].to_excel(os.path.join(folder_path, 'titanic_last_5_4_cols.xlsx'))

### Test how **loc** and **iloc** works (be creative :) )

In [ ]:
df.loc[:,"Pclass"]

In [ ]:
df.loc[1:1]

In [ ]:
df.iloc[1:1]

In [ ]:
df.iloc[1]

In [ ]:
df.loc[887]

# Loading CSV file

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))

In [ ]:
data.head()

In [ ]:
data.Survived.value_counts()

In [ ]:
data.dtypes

In [ ]:
data.info(memory_usage='deep')  # (memory_usage='deep')

## Zmiana typów danych w czasie odczytu

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool})

In [ ]:
data.info(memory_usage='deep')

zauważmy delikatny zysk pamięci

### Dane kategoryczne
---
Kategorie są typem danych Pandas, które odpowiadają kategorycznym zmiennym w statystykach: 
Zmienna kategoryczna - to zmienna, która może przyjmować tylko ograniczoną i zwykle stałą liczbę możliwych wartości (kategorie, poziomy w R).
Przykładami są płeć, klasa społeczna, typy krwi, przynależność do kraju, czas obserwacji lub oceny za pomocą skali Likerta.

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool})

In [ ]:

data['Sex'] = data['Sex'].astype("category")

In [ ]:
data.loc[0, "Sex"]

In [ ]:
data.Sex

In [ ]:
data.Sex = data.Sex.cat.add_categories("unknow")

In [ ]:
data.Sex

In [ ]:
data.loc[0, 'Sex'] = 'unknow'

In [ ]:
data.info(memory_usage='deep')

### Mniejszy dtype

In [ ]:
data.Pclass.max()

In [ ]:
#data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool, 'Sex': 'category', 'Pclass': np.int8})
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool,  'Pclass': np.int8})

In [ ]:
data.info(memory_usage='deep')

In [ ]:
data.PassengerId.max()

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), dtype={'Survived': np.bool, 'Sex': 'category', 'Pclass': np.int8, 'PassengerId': np.int16})

In [ ]:
data.info(memory_usage='deep')

In [ ]:
data.to_pickle(os.path.join(folder_path, 'titanic_train.pickle'))

## Limit rows

Reading first 100 rows

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), nrows=100)
data.shape

## Definiowanie nazwa kolumn (header)

```
names : array-like, default None
    List of column names to use. If file contains no header row, then you
    should explicitly pass header=None. Duplicates in this list are not
    allowed unless mangle_dupe_cols=True, which is the default.
```

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), skiprows=1)
data.head()

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), skiprows=1, names=['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 
                                                                                     'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
data.head()

## ustawianie indexu (wiersz)

```
index_col : int or sequence or False, default None
    Column to use as the row labels of the DataFrame. If a sequence is given, a
    MultiIndex is used. If you have a malformed file with delimiters at the end
    of each line, you might consider index_col=False to force pandas to _not_
    use the first column as the index (row names)
```

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'), index_col='PassengerId')
data.head()

## Wypełnianie wartościami NaN

```
.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
```

In [ ]:
data = pd.read_csv(os.path.join(folder_path, 'titanic_train.csv'))
data.head()

In [ ]:
data.Cabin.fillna('Deck')   # wypełniamy NaN jako "Deck"

In [ ]:
data.head()

In [ ]:
data.Cabin.fillna('Deck', inplace=True)

In [ ]:
data.head()

In [ ]:
data.Embarked.value_counts()

In [ ]:
data.info()

## Exercises (opcjonalnie)

### Load *'titanic_train.csv'* file, with *category* type for all columns that are compatible with this type.

### Fill *NaN* values in *Age* column with mean value of this column.

### Fill *NaN* values in *Embarked* with most common location.

# Tworzenie DataFrame i Series

## DataFrame
---
```
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)[source]
```
Dwuwymiarowa, potencjalnie heterogeniczna, tabelaryczna struktura danych ze znakowanymi osiami (wiersze i kolumny).
Operacje arytmetyczne są wyrównane na etykietach zarówno wiersza, jak i kolumny. 
Można go traktować jako kontener podobny do słownika list obiektów .
Podstawowa struktura danych Pandas
  
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [ ]:
d = {'col1': [1,2], 'col2': [3,4]}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df2 = pd.DataFrame([[1,2], [3,4]])
df2

In [ ]:
df3 = pd.DataFrame([[1,2], [3,4]], columns=['A', 'B'])
df3

In [ ]:
df4 = pd.DataFrame([[1,2], [3,4]], columns=['A', 'B'], index=[5,10])
df4

## Series
---
```
class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```
Jednowymiarowy ndarray z etykietami osi (w tym szeregami czasowymi).

Etykiety nie muszą być unikatowe, ale muszą być dowolnymi znanymi typami. Obiekt obsługuje zarówno indeksowanie oparte na liczbach całkowitych jak i etykietach i udostępnia wiele metod wykonywania operacji obejmujących indeks.
Metody statystyczne z ndarray zostały nadpisane, aby automatycznie wykluczyć brakujące dane (obecnie reprezentowane jako NaN)

Operacje między wyrównaniem szeregów (+, -, /,, *) w oparciu o powiązane z nimi wartości indeksu - nie muszą mieć tej samej długości. Indeks wyników będzie uporządkowanym połączeniem dwóch indeksów.

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [ ]:
s1 = pd.Series(np.arange(10))
s1

In [ ]:
s2 = pd.Series(np.arange(10), index=np.arange(10,20))
s2

In [ ]:
s3 = pd.Series({'idx1':2, 'idx2':4, 'idx3':6})
s3

### Creating DataFrame from Series

In [ ]:
s3.to_frame()  # name

In [ ]:
s1 = pd.Series(np.arange(10), index=np.arange(10,20))
s2 = pd.Series(np.arange(30, 40), index=np.arange(10,20))

In [ ]:
pd.DataFrame({'col1':s1, 'col2':s2})

In [ ]:
s1 = pd.Series(np.arange(10), index=np.arange(10,20))
s2 = pd.Series(np.arange(30, 40), index=np.arange(19,9,-1))

In [ ]:
pd.DataFrame({'col1':s1, 'col2':s2})

# Indeksowanie i ustawianie danych

## Simple selection

In [ ]:
data['Cabin'] == 'Deck'

In [ ]:
data.loc[data['Cabin'] == 'Deck']

In [ ]:
data[data['Cabin'] == 'Deck']

## Multiple conditions

In [ ]:
data[(data['Cabin'] == 'Deck') & (data['Pclass']==2)]

## Negation
---
**~**

In [ ]:
data[~(data['Cabin'] == 'Deck')]

## Str

In [ ]:
data[(data['Cabin'].str.startswith('C'))]

## List
---
**isin([])**

In [ ]:
data[data['Cabin'].isin(['C85', 'C123'])]

In [ ]:
data.Survived.value_counts().plot(kind="bar")

## Exercises

### Create 3 *Series* with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

### Display passengers with *Age* above 50

### Display passengers that *Embarked* at location *S* and are *female*

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with *Names* that contain *'Johnson'* (it's a surname)

# Loading ARFF file (Weka format)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from scipy.io import arff

In [ ]:
with open(os.path.join(folder_path, 'iris.arff'), 'rt') as f:
    data = arff.loadarff(f)

In [ ]:
pd.DataFrame(data[0])

In [ ]:
data.groupby(["Pclass", "Sex"]).Survived.value_counts().plot(kind="bar")

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.

In [ ]:
data = pd.read_csv('../../data/matches.csv', parse_dates=['date'])
data[
    ((data.home_team == 'Legia Warszawa') | (data.away_team == 'Legia Warszawa')) & 
    ((data.home_team == 'Lech Poznań') | (data.away_team == 'Lech Poznań')) & 
    (data.date.dt.year.isin([2010, 2011, 2011, 2013, 2014, 2015]))
]

2. Znajdź 10 meczów z największą różnicą bramek.

In [ ]:
data['goals_diff'] = abs(data['home_team_goal'] - data['away_team_goal'])
data.sort_values('goals_diff', ascending=False)[:10]

3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.

In [ ]:
team = 'Legia Warszawa'
data

In [ ]:
team_matches = data[(data['home_team'] == 'Legia Warszawa') | (data['away_team'] == 'Legia Warszawa')]
team_matches

In [ ]:
team_matches = team_matches.reset_index()
team_matches

In [ ]:
team_matches['team_goals'] = team_matches.apply(lambda x: x.home_team_goal if x.home_team == team else x.away_team_goal, axis=1)

In [ ]:
team_matches['opponent_goals'] = team_matches.apply(lambda x: x.away_team_goal if x.home_team == team else x.home_team_goal, axis=1)

In [ ]:
goals_per_season = team_matches.groupby('season').aggregate({'team_goals': sum, 'opponent_goals': sum})

In [ ]:
%matplotlib inline

In [ ]:

goals_per_season.plot(kind='bar', stacked=True)

4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.

In [ ]:
data['total_goals'] = data.home_team_goal + data.away_team_goal

In [ ]:
goals_per_country = data.groupby('country').agg({'total_goals': sum})

In [ ]:
matches_per_country = data['country'].value_counts()

In [ ]:
goals_per_match = goals_per_country.total_goals / matches_per_country

In [ ]:
goals_per_match.sort_values(ascending=False).plot(
    kind='bar', 
    title='Goals per match (top leagues in Europe)', 
    figsize=(10,5),
)